.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  @apply mt-4;

  .FileInput {
    @apply input-group;

    span {
      @apply bg-primary hover:cursor-pointer;
      width: 40%;
    }

    .Remove {
      @apply bg-neutral border-2 border-rose-500;
      svg {
        @apply text-rose-500;
      }
    }

    input {
      @apply hover:cursor-default;
      width: 60%;
    }
    svg {
      font-size: 1.5rem;
      @apply mr-5;
    }
  }
  input[type='file'] {
    display: none;
  }
}
