.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .Card {
    @apply card card-bordered bg-neutral shadow shadow-black my-10;
    width: 600px;
  }

  .ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      align-self: center;
      width: 200px;
      @apply btn btn-primary my-5 disabled:border-primary;
    }
  }

  form {
    @apply px-5;
    input {
      @apply input input-primary;
    }
    select {
      @apply mt-4;
    }
  }

  h1 {
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    @apply text-center;
  }
}
